---
import App from "../layouts/app.layout.astro";
---

<App title="ME">
  <div class="w-full h-full flex flex-col gap-16 md:gap-24">
    <h1 class="font-[Syne] font-bold text-4xl md:text-6xl">
      Hi, I'm <span class="text-primary">Sourab</span><br /><span
        class="text-primary">Pramanik</span
      >
    </h1>
    <div class="self-end">
      <p
        class="font-[Satoshi-Regular] max-w-2xl text-lg md:text-2xl text-muted-foreground"
      >
        A software developer looking for ways to build something new out of
        something broken. Writes articles on new and efficient ways to build
        products using new technologies. And contributes to the open-source
        projects fueled with JavaScript, Rust or Go!
      </p>
      <br />
      <p
        class="font-[Satoshi-Light] max-w-2xl text-md md:text-xl text-muted-foreground"
      >
        Find me on <a
          class="text-primary border-b border-primary font-[Satoshi-Medium]"
          target="_blank"
          href="https://github.com/sourabpramanik">GitHub</a
        >, <a
          class="text-primary border-b border-primary font-[Satoshi-Medium]"
          target="_blank"
          href="https://www.linkedin.com/in/sourab-pramanik-647393171/"
          >LinkedIn</a
        >, and <a
          class="text-primary border-b border-primary font-[Satoshi-Medium]"
          target="_blank"
          href="https://twitter.com/_sourabpramanik">Twitter</a
        >
      </p>
    </div>
  </div>
</App>
