---
import App from "../layouts/app.layout.astro";
---

<App>
  <div
    class="flex flex-col justify-center items-start h-[50vh] md:h-full text-foreground"
  >
    <p class="font-[Satoshi-Light] text-md md:text-[2vw]">
      Got a job or anything else for me?
    </p>
    <h3 class="font-[Syne] font-black text-[6vw] mb-5 md:mb-10 text-primary">
      Drop a mail<span class="text-foreground">.</span>
    </h3>
    <a
      class="font-[Satoshi-black] text-[6vw] border-primary border-b opacity-80 hover:opacity-100 ease-linear duration-500"
      href="mailto:shubpramanik241@gmail.com">shubpramanik241@gmail.com</a
    >
  </div>
</App>
