---
import App from "../layouts/app.layout.astro";
---

<App>
  <div
    class="flex flex-col justify-center items-center h-[50vh] md:h-full text-foreground"
  >
    <p class="font-[Satoshi-Light] text-[2vw]">
      Got a job for me or anything else?
    </p>
    <h3 class="font-[Satoshi-Bold] text-[7vw] mb-5 md:mb-10">Drop a Hi!</h3>
    <a
      class="font-[Syne] font-black text-[4vw] text-primary"
      href="mailto:shubpramanik241@gmail.com">shubpramanik241@gmail.com</a
    >
  </div>
</App>
