---
import { Image } from "astro:assets";
import "../styles/globals.css";
import Nav from "../components/nav.astro";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="max-w-[1440px] w-full mx-auto relative font-[Satoshi-Regular]">
    <header class="fixed px-8 flex h-24 w-full items-center justify-between">
      <a href="/">
        <Image
          src={"/images/logo.svg"}
          alt="logo"
          width="40"
          height="40"
          class="w-8 h-8 md:w-10 md:h-10"
        />
      </a>
      <div class="hidden md:block">
        <Nav />
      </div>
    </header>
    <main class="px-6 md:px-20 pt-24 md:pt-28 pb-20 min-h-screen h-full">
      <slot />
    </main>
    <div
      class="fixed bottom-6 w-full flex md:hidden items-center justify-center px-6"
    >
      <Nav />
    </div>
  </body>
</html>
